
@media (max-width: 900px) {

    .passos {
        grid-template-columns: 1fr;
    }

    .servicos {
        grid-template-columns: repeat(2, 1fr);
    }

    .beneficios {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 700px) {

    .menu {
        height: 65px;

        padding: 0 20px;
    }

    .menu nav {
        display: none;
    }

    .logo {
        font-size: 1.3rem;
    }


    /* HERO */

    .hero {
        min-height: 600px;

        padding: 70px 20px;
    }

    .hero h1 {
        font-size: 2.5rem;

        letter-spacing: -1.5px;
    }

    .hero p {
        font-size: 1rem;
    }


    /* BUSCA */

   

    .busca {
        flex-direction: column;

        padding: 12px;

        border-radius: 16px;
    }

    .busca input {
        width: 100%;

        height: 60px;

        text-align: center;

        padding-bottom: 10px;
    }

    .busca button {
        width: 100%;

        height: 60px;
    }


    /* SEÇÕES */

    .secao {
        padding: 70px 0;
    }


    /* SERVIÇOS */

    .servicos {
        grid-template-columns: 1fr;

        margin-top: 40px;
    }


    /* BENEFÍCIOS */

    .beneficios {
        grid-template-columns: 1fr;

        margin-top: 40px;
    }


    /* CHAMADA */

    .chamada-busca {
        padding: 25px 18px;

        border-radius: 20px;
    }


    /* CTA */

    .cta {
        padding: 70px 20px;
    }

   

}


/* =========================================================
   CELULARES PEQUENOS
========================================================= */

@media (max-width: 400px) {

    .hero h1 {
        font-size: 2.15rem;
    }

    .destaque {
        font-size: 0.65rem;
    }

    .secao h2 {
        font-size: 1.8rem;
    }

    
}

